/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
        
    .col-c-1 {width: 8.33%;}
    .col-c-2 {width: 16.66%;}
    .col-c-3 {width: 25%;}
    .col-c-4 {width: 33.33%;}
    .col-c-5 {width: 41.66%;}
    .col-c-6 {width: 50%;}
    .col-c-7 {width: 58.33%;}
    .col-c-8 {width: 66.66%;}
    .col-c-9 {width: 75%;}
    .col-c-10 {width: 83.33%;}
    .col-c-11 {width: 91.66%;}
    .col-c-12 {width: 100%;}

}
